<!-- -*- mode: XML -*- -->

<!-- record bag from cameras and velodyne, with corresponding
     odometry, GPS and coordinate transforms -->

<launch>
  <node pkg="rosbag" type="rosbag" name="rosbag"
        args="record -o $(optenv ROS_HOME ~/.ros)/bags/camera/sensors /velodyne/rawscan /left_front/camera/image_raw/compressed /right_front/camera/image_raw/compressed /odom /gps /tf" />

</launch>
