<!-- -*- mode: XML -*- -->
<!-- launch file for driving simulated vehicle with joystick -->

<launch>

  <!-- start pilot and servo actuators -->
  <include file="$(find art_run)/launch/pilot_stage.launch" />

  <node pkg="joy" type="joy_node" name="joy_node" >
    <param name="autorepeat_rate" value="20.0" />
    <param name="deadzone" value="0.0" />
  </node>
  <node pkg="art_nav" type="joy_teleop.py" name="joy_teleop" />

</launch>
