<!-- -*- mode: XML -*- -->
<!-- launch file for driving vehicle with joystick -->

<launch>

  <!-- start pilot and servo actuators -->
  <include file="$(find art_run)/launch/pilot_drive.launch" />

  <!-- start joystick controller -->
  <include file="$(find art_run)/launch/joystick.launch" />

</launch>
