<!-- -*- mode: XML -*- -->
<!-- launch file for joystick teleoperation controller

     $Id$
  -->

<launch>

  <node pkg="joy" type="joy_node" name="joy_node" >
    <param name="autorepeat_rate" value="20.0" />
    <param name="deadzone" value="0.0" />
  </node>

  <node pkg="$(optenv JOY_PKG art_pilot)"
        type="$(optenv JOY_NODE joy_teleop.py)" name="joy_teleop" />

</launch>
