<!-- -*- mode: XML -*- -->
<!-- launch file for driving vehicle from keyboard

     $Id$
  -->

<launch>

  <!-- start pilot and servo actuators -->
  <include file="$(find art_run)/launch/pilot_drive.launch" />

  <node pkg="$(optenv PILOT_PKG art_pilot)" type="teleop.py" name="teleop" />

</launch>
