<!-- -*- mode: XML -*- -->

<!-- start nodes to acquire data from velodyne (and later, sicks),
     with corresponding odometry, GPS and coordinate transforms

     $Id$
  -->

<launch>

  <node pkg="applanix" type="odometry" name="odometry"/>
  <node pkg="velodyne_common" type="read" name="velodyne_read"/>

  <!-- global parameters (in this namespace) -->
  <param name="rndf"
         value="$(find art_map)/rndf/$(optenv WORLD prc_large).rndf"/>

  <!-- static transforms
  <include file="$(find art_run)/launch/static_transforms.launch"/>
   -->

  <!-- velodyne cost map plus static transforms -->
  <include file="$(find art_run)/launch/obstacles_velodyne.launch"/>


  <!-- start maplanes node with corresponding RNDF -->
  <node pkg="art_map" type="maplanes" name="maplanes">
    <param name="frame_id" value="/map" />
  </node>

</launch>
