<!-- -*- mode: XML -*- -->

<!-- start nodes to acquire data from cameras and velodyne, with
     corresponding odometry, GPS and coordinate transforms 

     $Id$
-->

<launch>

  <node pkg="applanix" type="odometry" name="odometry"/>

  <node pkg="nodelet" type="nodelet" name="velodyne_nodelet_manager"
        args="manager" />
  <node pkg="nodelet" type="nodelet" name="transform_nodelet"
        args="load velodyne_common/TransformNodelet velodyne_nodelet_manager"/>
  <node pkg="nodelet" type="nodelet" name="driver_nodelet"
        args="load velodyne_common/DriverNodelet velodyne_nodelet_manager" >
  </node>

  <!--
  <include file="$(find art_image)/launch/get_left_front.launch" />
  <include file="$(find art_image)/launch/get_right_front.launch" />
  -->

  <!-- global parameters (in this namespace) -->
  <param name="rndf"
         value="$(find art_map)/rndf/$(optenv WORLD prc_large).rndf"/>

  <!-- static transforms -->
  <include file="$(find art_run)/launch/static_transforms.launch"/>

  <!-- start maplanes node with corresponding RNDF -->
  <node pkg="art_map" type="maplanes" name="maplanes">
    <param name="frame_id" value="/map" />
  </node>

</launch>
