<!-- -*- mode: XML -*- -->
<!-- launch for testing occupancy grid (costmap)

     $Id$
  -->

<launch>

  <!-- use costmap_2d for local obstacles -->
  <node pkg="costmap_2d" type="costmap_2d_node"  name="obstacles">
    <rosparam file="$(find art_run)/params/obstacles_common.yaml" />
    <rosparam file="$(find art_run)/params/obstacles_velodyne.yaml" />
    <rosparam file="$(find art_run)/params/obstacles_clear.yaml" />
  </node>
  <node pkg="art_obstacles" type="clear_obstacles.py" name="clear_obstacles" />

  <!-- static transforms -->
  <include file="$(find art_run)/launch/static_transforms.launch"/>

  <!-- obstacle detection via Velodyne ring compression -->
  <node pkg="velodyne_ringcomp" type="ringcomp" name="ringcomp" />

</launch>
