<!-- -*- mode: XML -*- -->
<!-- launch file for pilot with null servo interfaces -->

<launch>
  <!-- simulated servo actuators -->
  <node pkg="art_servo" type="brake" name="brake">
    <param name="~port" value="/dev/null"/>
  </node>
  <node pkg="art_servo" type="ioadr" name="ioadr">
    <param name="~port" value="/dev/null"/>
  </node>
  <node pkg="art_servo" type="ioadr" name="shifter">
    <param name="~port" value="/dev/null"/>
  </node>
  <node pkg="art_servo" type="steering" name="steering">
    <param name="~port" value="/dev/null"/>
  </node>
  <node pkg="art_servo" type="throttle" name="throttle">
    <param name="~port" value="/dev/null"/>
  </node>

  <!-- navigation components -->
  <node pkg="art_nav" type="pilot" name="pilot" />
  <node pkg="art_nav" type="teleop.py" name="teleop" />

  <!-- monitoring tools
       <include file="$(find art_run)/launch/monitor.launch" />
   -->

  <!-- comment out, not working
  <node pkg="rxtools" type="rxplot" name="steering_plot"
        args="/steering/state/angle"/>
  <node pkg="rxtools" type="rxplot" name="brake_plot"
        args="/brake/state/angle"/>
  <node pkg="rxtools" type="rxplot" name="shifter_plot"
        args="/shifter/state/gear"/>
  -->

</launch>
