<!-- -*- mode: XML -*- -->
<!-- record an ROS bag from the raw device, with corresponding
     odometry, GPS and coordinate transforms

     $Id$
-->

<launch>
  <node pkg="art_common" type="vehicle_static_tf" name="vehicle_static_tf"/>
  <node pkg="applanix" type="odometry" name="odometry"/>
  <node pkg="velodyne_driver" type="velodyne_node" name="velodyne_node"/>
  <node pkg="rosbag" type="rosbag" name="rosbag"
        args="record -o $(env PWD)/velodyne /velodyne/rawscan /odom /gps /imu /tf" />
</launch>
