# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides ["simulation:0"]
  plugin "libstageplugin"

  # load the named file into the simulator
  worldfile "stage/learn.world"	
)



# Create a Stage driver and attach position2d and laser interfaces 
# to the model "marvin"
driver
( 
  name "stage"
  provides ["6665:position2d:4" "6665:laser:4" "6665:laser:5"]
  model "marvin"
)
