<!-- -*- mode: XML -*- -->

<!-- Start a specific IEEE1394 digital camera.

     environment: $CAMERA = guid of camera to start
-->

<launch>
  <node pkg="cameradc1394" type="cameradc1394" name="camera_$(env CAMERA)"
  	output="screen" respawn="false">
    <rosparam command="load"
              file="$(find art_image)/launch/$(env CAMERA).yaml" /> 
  </node>
</launch>
