<!-- -*- mode: XML -*- -->

<!-- Start the driver for the left front IEEE1394 digital camera.
-->

<launch>

  <!-- name node (and topic) after parameter file -->
  <node ns="left_front" pkg="camera1394"
        type="camera1394_node" name="left_front" >
    <rosparam file="$(find art_image)/param/left_front.yaml" /> 
  </node>

</launch>
