<!-- -*- mode: XML -*- -->

<!-- Start the driver for a specific IEEE1394 digital camera.
     (modifed from camera1394 package)

     environment: $CAMERA = base file name of camera YAML parameters
                  (default: test_camera)
-->

<launch>

  <!-- name node (and topic) after parameter file -->
  <node pkg="camera1394" type="camera1394"
        name="$(optenv CAMERA test_camera)" >
    <rosparam
       file="$(find art_image)/launch/$(optenv CAMERA test_camera).yaml" /> 
  </node>
</launch>
